/*-------------------------
    Dropbox Element
--------------------------*/

#dropbox{
    position: relative;
    min-height: 140px;
    overflow: hidden;
    padding-bottom: 30px;
    width: 100%;
	border:1px solid #000;
	border-radius:3px;
    /*box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);*/
}
#dropbox .message{
    font-size: 14px;
	font-family:Verdana;
    text-align: center;
    padding-top:40px;
    display: block;
}

#dropbox .message i{color:#ccc;font-size:13px;}

/*-------------------------
    Image Previews
--------------------------*/

#dropbox .preview{
    width:140px;
    height: 100px;
    float:left;
    margin: 55px 0 0 60px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 140px;
    max-height:100px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('plugins/UploadFile/files/css/ok.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;

    box-shadow:0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}

#upload_form_multi {
    /*display: none;*/
}
#multiple_upload_area {margin-top: 20px;}